p {font-family: 'Lato', sans-serif;
}
h2{font-family: "Lucida Sans Unicode"; "Lucida Grande"; "sans-serif";
}

a:hover {
    background-color: aqua;
}

a:focus {
    background-color: aquamarine;
}

a:active {
    background-color: rgb(6, 59, 61);
}

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
