p {font-family: 'Lato', sans-serif;
}
h2{font-family: "Lucida Sans Unicode"; "Lucida Grande"; "sans-serif";
}

a:hover {
    background-color: aqua;
}

a:focus {
    background-color: aquamarine;
}

a:active {
    background-color: rgb(6, 59, 61);
}


